section p {
    color: rgb(117, 255, 200);
    font-size: 20px;
    box-shadow: 5;
}

body{
    background-color: rgba(00,100,127);
}

#btn{
    background-color: rgb(31, 119, 190);
}
#btn:hover{
    background-color: seagreen;
}