body {
    background-image: url("mesa.jpg");
    color: #ffffff;
}


.navbar {
    background-color: #910303;
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;

}
.text-descripcion{
    text-align: center;
    margin-top: 50px;
}
.text-center{
    font-size: 3em;
    color: #ffd700; /* Color dorado */
    text-shadow: 2px 2px 4px #000; /* Sombra para el texto */
    margin: 20px;
}

.form-control {
    border: 2px solid #ffcc00;
    background-color: #1c1c1c;
    color: #ffffff;
}

.btn-primary {
    background-color: #591010;
    border-color: #000000;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #ff1100;
    border-color: #744d4d;
}


.box{
    padding: 70px;
    margin: 100px;
    background:rgba(51, 183, 51, 0.105);
    border-radius: 25%;
    border: 2px solid #ffffff;
}
