body {
    background-color: #0b3d91;
    color: #ffffff;
}

.navbar {
    background-color: #1c1c1c;
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;

}

h2,
h3 {
    color: #ffcc00;

}

.form-control {
    border: 2px solid #ffcc00;

    background-color: #1c1c1c;
    color: #ffffff;
}

.btn-primary {
    background-color: #ffcc00;
    border-color: #ffcc00;
    color: #1c1c1c;
}

.btn-primary:hover {
    background-color: #ffd700;
    border-color: #ffd700;
}

#resultado h2 {
    color: #ffcc00;
}