body {
    background-color: rgb(27, 13, 67);
    color: blueviolet;
    font-size: 30px;
    font-weight: 3;

}

h1 {
    text-align: center;

}

p {
    text-align: center;
}

button {
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-left: 700px;

}