body{
    background-color: rgb(94, 126, 114);
    color:aliceblue;
}
button{ 
    background:rgb(147, 219, 189);
}


h1{
    
    text-align: center;
}
p{
    color:rgb(238, 205, 113);
    font-size:25px;

}
